pandas

In [23]:
import pandas as pd
import numpy as np

In [11]:
# pandas series는 1차원 데이터 집합

pd_series = pd.Series(index = ['a','b','c','d','e'], data=[1,2,3,4,5])
pd_series

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
# padnas series의 기초정보
print('차원 : ', pd_series.ndim)
print('형태 : ', pd_series.shape)
print('총 원소의 수 : ', pd_series.size)
print('값 : ', pd_series.values)
print('index : ', pd_series.index)

차원 :  1
형태 :  (5,)
총 원소의 수 :  5
값 :  [1 2 3 4 5]
index :  Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [14]:
# padnas index 활용하여 데이터 찾기
print(pd_series.iloc[0]) # iloc는 integer location을 찾아서 조회함
print(pd_series.loc['e']) # index를 알아야만함

1
5

In [17]:
# 데이터 삭제하기
pd_series.drop('d')

a    1
b    2
c    3
e    5
dtype: int64

In [20]:
# 데이터 삭제하기 (완전)
pd_series.drop('d', inplace=True)

KeyError: ignored

In [21]:
print(pd_series)

a    1
b    2
c    3
e    5
dtype: int64

In [24]:
# padnas dataframe 만들기
# 2차원 집합 만들기

data = {
    'A' : np.arange(15)
    , 'B' : np.random.randint(low =0,high=15,size=(15))
    , 'C' : np.random.rand(15)
}

data_df= pd.DataFrame(data)
data_df

     A   B         C
0    0  13  0.246851
1    1  10  0.815500
2    2   3  0.206486
3    3   8  0.005462
4    4   5  0.322497
5    5   2  0.276798
6    6  14  0.740996
7    7   6  0.023444
8    8  14  0.369956
9    9  10  0.512268
10  10  13  0.852782
11  11   6  0.193048
12  12   7  0.202321
13  13   3  0.535892
14  14   3  0.567625

In [25]:
data_df.head() # 최초 5건

   A   B         C
0  0  13  0.246851
1  1  10  0.815500
2  2   3  0.206486
3  3   8  0.005462
4  4   5  0.322497

In [26]:
data_df.head(7) # 최초 7건

   A   B         C
0  0  13  0.246851
1  1  10  0.815500
2  2   3  0.206486
3  3   8  0.005462
4  4   5  0.322497
5  5   2  0.276798
6  6  14  0.740996

In [27]:
data_df.tail(6) # 마지막 6건

     A   B         C
9    9  10  0.512268
10  10  13  0.852782
11  11   6  0.193048
12  12   7  0.202321
13  13   3  0.535892
14  14   3  0.567625

In [28]:
data_df.shape

(15, 3)

In [29]:
# indexing & slicing
data_df[1:3]

   A   B         C
1  1  10  0.815500
2  2   3  0.206486

In [30]:
data_df.loc[1]

A     1.0000
B    10.0000
C     0.8155
Name: 1, dtype: float64

In [36]:
data_df.loc[1][['B','C']]

B    10.0000
C     0.8155
Name: 1, dtype: float64

In [37]:
# add remove and etc
data_df.head()

   A   B         C
0  0  13  0.246851
1  1  10  0.815500
2  2   3  0.206486
3  3   8  0.005462
4  4   5  0.322497

In [39]:
data_df['D']= data_df['A']>=5
data_df

     A   B         C      D
0    0  13  0.246851  False
1    1  10  0.815500  False
2    2   3  0.206486  False
3    3   8  0.005462  False
4    4   5  0.322497  False
5    5   2  0.276798   True
6    6  14  0.740996   True
7    7   6  0.023444   True
8    8  14  0.369956   True
9    9  10  0.512268   True
10  10  13  0.852782   True
11  11   6  0.193048   True
12  12   7  0.202321   True
13  13   3  0.535892   True
14  14   3  0.567625   True

In [40]:
# d열 삭제
data_df.drop('D', axis=1, inplace=True)

In [41]:
data_df.head()

   A   B         C
0  0  13  0.246851
1  1  10  0.815500
2  2   3  0.206486
3  3   8  0.005462
4  4   5  0.322497

In [43]:
# 정렬하기
data_df.sort_index(axis=0, ascending=True)

     A   B         C
0    0  13  0.246851
1    1  10  0.815500
2    2   3  0.206486
3    3   8  0.005462
4    4   5  0.322497
5    5   2  0.276798
6    6  14  0.740996
7    7   6  0.023444
8    8  14  0.369956
9    9  10  0.512268
10  10  13  0.852782
11  11   6  0.193048
12  12   7  0.202321
13  13   3  0.535892
14  14   3  0.567625